{% extends "base.html" %}

{% block body %}
  {% block page_content %}
  <div class="container text-center my-5">
    <h2>Timesheet</h2>
  </div>
  <!-- Timesheet table -->
  <table class="table table-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Day</th>
        <th scope="col">Date</th>
        <th scope="col">Nights</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Start</th>
        <th scope="col">On site</th>
        <th scope="col">Off site</th>
        <th scope="col">End</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Digs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sun</td>
        <td>17/03/2019</td>
        <td>Yes</td>
        <td>Base</td>
        <td>Base</td>
        <td>06:00 AM</td>
        <td>07:00 AM</td>
        <td>16:00 PM</td>
        <td>16:30 PM</td>
        <td>Scott Lunn</td>
        <td>Premier Inn</td>
      </tr>
      <tr>
      <tr>
        <th scope="row">2</th>
        <td>Mon</td>
        <td>18/03/2019</td>
        <td>Yes</td>
        <td>Base</td>
        <td>Base</td>
        <td>06:00 AM</td>
        <td>07:00 AM</td>
        <td>16:00 PM</td>
        <td>16:30 PM</td>
        <td>Scott Lunn</td>
        <td>Premier Inn</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Tue</td>
        <td>19/03/2019</td>
        <td>Yes</td>
        <td>Base</td>
        <td>Base</td>
        <td>06:00 AM</td>
        <td>07:00 AM</td>
        <td>16:00 PM</td>
        <td>16:30 PM</td>
        <td>Scott Lunn</td>
        <td>Premier Inn</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Wed</td>
        <td>20/03/2019</td>
        <td>Yes</td>
        <td>Base</td>
        <td>Base</td>
        <td>06:00 AM</td>
        <td>07:00 AM</td>
        <td>16:00 PM</td>
        <td>16:30 PM</td>
        <td>Scott Lunn</td>
        <td>Premier Inn</td>
      </tr>
      <tr>
      <tr>
        <th scope="row">5</th>
        <td>Thurs</td>
        <td>21/03/2019</td>
        <td>Yes</td>
        <td>Base</td>
        <td>Base</td>
        <td>06:00 AM</td>
        <td>07:00 AM</td>
        <td>16:00 PM</td>
        <td>16:30 PM</td>
        <td>Scott Lunn</td>
        <td>Premier Inn</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Fri</td>
        <td>22/03/2019</td>
        <td>Yes</td>
        <td>Base</td>
        <td>Base</td>
        <td>06:00 AM</td>
        <td>07:00 AM</td>
        <td>16:00 PM</td>
        <td>16:30 PM</td>
        <td>Scott Lunn</td>
        <td>Premier Inn</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Sat</td>
        <td>23/03/2019</td>
        <td>Yes</td>
        <td>Base</td>
        <td>Base</td>
        <td>06:00 AM</td>
        <td>07:00 AM</td>
        <td>16:00 PM</td>
        <td>16:30 PM</td>
        <td>Scott Lunn</td>
        <td>Premier Inn</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}
  {% block scripts %}
  
  <!-- JQuery, Bootstrap -->
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  
  <!-- JQuery, Bootstrap --><!--
  <script src="/jquery.min.js"></script>
  <script src="/bootstrap.min.js"></script>-->

  {% endblock %}
{% endblock %}
