<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta charset="utf-8">
  <title>Extrudakerb</title>
  
  <!-- TODO add manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Extrudakerb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/timesheet">Timesheet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Teams</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/">Action</a>
          <a class="dropdown-item" href="/">Another action</a>
          <a class="dropdown-item" href="/">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  </nav>
  
  <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  
  
 <script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js', {scope: './'})
      .then(reg => {
        console.log('Service worker registered! 😎',reg.scope);
      })
      .catch(err => {
        console.log('😥 Service worker registration failed: ', err);
      });
  });
}
</script>
</body>
</html>